<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/indexStyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../src/public/js/indexScript.js"></script>
    <script src="../service/index.js"></script>
    <title>Museo</title>
</head>
<body>
    <header class="header-default">
        <nav class="nav-bar">
            <ul class="nav-bar_box">
                <li class="nav-bar_element nav-bar_icon active"><a href="./index.html">HOME</a></li>
                <li class="nav-bar_element"><a href="./index.html#reserva">HACER UNA RESERVA</a></li>
                <li class="nav-bar_element"><a href="./index.html#visitadigital">VISITA DIGITAL</a></li>
                <li class="nav-bar_element"><a href="./index.html#mapasinstalacion">MAPA DE LAS INSTALACIONES</a></li>
                <li class="nav-bar_element right"><a href="./login.html">ACCEDER</a></li>
            </ul>
        </nav>
    </header>
    <section class="section-top">
        <h1> Bienvenidx, visitantx! </h1>
    </section>
    <section id="home" class="first-section-content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore in maiores maxime eum, dolorum rem! Dolorum eveniet excepturi doloribus quibusdam! Eum ipsum maxime repudiandae ut saepe ea nam sed ipsa.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto animi illum asperiores fugit cumque nisi atque, nihil officia eligendi voluptatibus quidem velit dolorem impedit. Sint at optio suscipit nemo quo.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque labore voluptatum qui, at nulla ex eligendi debitis natus rerum quae doloribus, atque aspernatur error repellat corporis vitae minima aut accusamus!
    </section>
    <section id="reserva" class="first-section-content">
        <h1> Reserva </h1>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore in maiores maxime eum, dolorum rem! Dolorum eveniet excepturi doloribus quibusdam! Eum ipsum maxime repudiandae ut saepe ea nam sed ipsa.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto animi illum asperiores fugit cumque nisi atque, nihil officia eligendi voluptatibus quidem velit dolorem impedit. Sint at optio suscipit nemo quo.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque labore voluptatum qui, at nulla ex eligendi debitis natus rerum quae doloribus, atque aspernatur error repellat corporis vitae minima aut accusamus!
    </section>
    <section id="visitadigital" class="first-section-content">
        <h1> Visita Digital </h1>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore in maiores maxime eum, dolorum rem! Dolorum eveniet excepturi doloribus quibusdam! Eum ipsum maxime repudiandae ut saepe ea nam sed ipsa.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto animi illum asperiores fugit cumque nisi atque, nihil officia eligendi voluptatibus quidem velit dolorem impedit. Sint at optio suscipit nemo quo.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque labore voluptatum qui, at nulla ex eligendi debitis natus rerum quae doloribus, atque aspernatur error repellat corporis vitae minima aut accusamus!
    </section>
    <section id="mapasinstalacion" class="map-section-content">
        <h1> Mapa de las Instalaciones </h1>
        <div class="container">
            <div class="img__mapmuseo">

            </div>
            <div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore in maiores maxime eum, dolorum rem! Dolorum eveniet excepturi doloribus quibusdam! Eum ipsum maxime repudiandae ut saepe ea nam sed ipsa.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto animi illum asperiores fugit cumque nisi atque, nihil officia eligendi voluptatibus quidem velit dolorem impedit. Sint at optio suscipit nemo quo.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque labore voluptatum qui, at nulla ex eligendi debitis natus rerum quae doloribus, atque aspernatur error repellat corporis vitae minima aut accusamus!
            </div>
        </div>
    </section>
    <footer class="footer-default">

    </footer>
</body>
</html>