<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/indexStyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../src/public/js/indexScript.js"></script>
    <script src="../service/index.js"></script>
    <title>Museo</title>
</head>
<body>
    <header class="header-default">
        <nav class="nav-bar">
            <ul class="nav-bar_box">
                <li class="nav-bar_element nav-bar_icon "><a href="./index.html">HOME</a></li>
                <li class="nav-bar_element"><a href="./index.html#reserva">HACER UNA RESERVA</a></li>
                <li class="nav-bar_element"><a href="./index.html#visitadigital">VISITA DIGITAL</a></li>
                <li class="nav-bar_element"><a href="./index.html#mapasinstalacion">MAPA DE LAS INSTALACIONES</a></li>
                <li class="nav-bar_element right active"><a href="./login.html">ACCEDER</a></li>
            </ul>
        </nav>
    </header>
    <section class="section-top">
        <h2>Ingrese la Información</h2>
    </section>
    <section class="section-form">
       <form>
           <label for="username">Nombre: </label><input name="username" type="text" placeholder="Nombre de usuario">
           <label for="password">Password: </label><input name="password" type="password" placeholder="Contraseña">
           <input type="submit">
       </form>
    </section>

    <footer>

    </footer>
</body>
</html>